
.panel.panel-default
  .panel-heading
    %h2
      %strong.text-danger=@area
  .panel-body
    = paginate @agencies
    .row
      .col-sm-4
        %h4 
          ="共#{@agencies.count}家"
        %ul.nav.nav-stacked#markers_list
      .col-sm-8 
        #data_holder{'data-json'=>"#{raw @json.to_json}"}
        #map{style:'height: 400px;'}
-content_for :head do 
  = render '/shared/gmap'
  = javascript_include_tag 'agency'