.panel.panel-default
  .panel-body
    .col-sm-5
      =render 'outline_agency'
    .col-sm-7
      %h3
        %strong 备案区域统计
      #dataholder{'data-chart'=>"#{@chart}", 'data-title'=>"#{@statics_tarr}", 'data-value'=>"#{@statics_varr}"}
      #chart
        
.panel.panel-default
  .panel-body
    %h1 
      %strong 存量房交易
    .col-sm-4
      %h2 
        %strong 准确

      %h3
        = icon 'lock'
        交易信息准确
      %p 所有交易信息都经过权属信息真实性的核实，拒绝任何欺诈交易。所有交易信息都和经纪机构进行绑定，自动发布和取消发布，避免信息的重复和无效。
    .col-sm-4
      %h2
        %strong 透明
      %h3
        = icon 'eye-open'
        交易过程全透明
      %p  交易从委托到发布，从经纪服务到签署合同，甚至到最后的权属办理都是可追溯的。所有的信息对交易双方都是可见的。无须步步惊心，夜不能寐。
    .col-sm-4
      %h2 
        %strong 规范
      %h3
        = icon 'road'
        规范行业和市场行为
      %p 通过全新的交易方式和全程的信用跟踪和投诉处理，逐步建立经纪机构和经纪人的信用体系，达到汰劣留良，净化行业风气，保障交易双方的权益。

-content_for :head do 
  =javascript_include_tag 'home'

