!!!
%html
  %head
    %title
      兴房网 武汉备案房地产中介
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    = javascript_include_tag "application"
    = yield :head if defined? :head
  %body
    = render '/layouts/navbar'
    .container.wrapper
      .col-sm-9
        = yield
      .col-sm-3
        = render '/shared/news'
        = render '/layouts/footer'
        = render '/layouts/google_analytics'
        = yield :footer if defined? :footer

